//color
$bgNaivy: rgba(4,4,62,0.03);
$naivy: rgba(4,4,62,0.8);

//break points
$xs:368px;
$sm:414px;
$md:590px;
$lg:800px;
$xl:1200px;
$xsOnlyValue:368;
$smOnlyValue:414;
$mdOnlyValue:590;
$lgOnlyValue:800;
$xlOnlyValue:1200;
